
<h2>Resend confirmation instructions</h2>

<div class="row">
  <div class="small-12 medium-7 small-centered columns">  
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", id: 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-7 small-centered columns shared-links" style="color:black;">
    <%= render "devise/shared/links", style: 'color: black;' %>
  </div>
</div>
