<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
  <%= devise_error_messages! %>

  <br>
  <div class="row">
      <div class="show-for-small small-1 small-centered columns" id="indeximagecontainer"><%= image_tag  @user.avatar.url, id: "profile-thumb"%></div>
      <div class="show-for-medium-up small-1 small-centered columns" id="showimagecontainer"><%= image_tag  @user.avatar.url, id: "profile-thumb"%></div>
  </div>

  <div class="row">
    <div class="small-10 medium-7 small-centered columns">
      <div class="field">
        <%= f.label :profile_picture %>
        <%= f.file_field :avatar %>
      </div> 
    </div>
  </div>
  
  <div class="row">
    <div class="small-10 medium-7 small-centered columns">
      <div class="field" id="name">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 medium-7 small-centered columns">
        <div class="field" >
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 medium-7 small-centered columns">
      <div class="field">
        <%= f.label :organization %>
        <%= f.text_field :organization %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 medium-7 small-centered columns">
      <div class="field" id="userDescription">
        <%= f.label :summary %>
        <%= f.text_area :description, size: "60x10"%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 medium-7 small-centered columns">
      <%= f.label :phone_number %>
      <div class="row">
        <div class="small-4 medium-2 columns" id="number-field"><%= f.text_field :area_code, :maxlength => '3'%></div>
        <div class="small-4 medium-2 columns" id="number-field"><%= f.text_field :prefix, :maxlength => '3' %></div>
        <div class="small-4 medium-2 columns" id="number-field"><%= f.text_field :line_number, :maxlength => '4' %></div>
        <div class="show-for-medium-up medium-6 columns" style="color: white; font-size:.5px;">.</div>
      </div>
      <%= f.label :would_you_like_your_number_public? %>
      <%= f.check_box :display_phone %>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="small-10 medium-7 small-centered columns">
      <div class="field">
        <%#= f.label :would_like_to_be_listed_as_a_mentor? %>
        <%#= f.check_box :mentor %>
      </div> 
    </div>
  </div>
  -->


  <div class="row spacer-top" style="padding-bottom: 50px;>
    <div class="small-10 medium-7 small-centered text-center columns">
      <div style="text-align: center;"><%= f.submit "Update Profile", id: "update-profile-button"%></div>
    </div>
  </div>

<% end %>

