
<h2 class="title">Edit Profile</h2>

<section id="updateUserForm">
  <div class="row"></div>
    <%= render "registrations/updateProfileForm" %>
  </div>
</section>

<section id="skillsSection">

  <div class="row">
    <h1 class="small-12 small-centered-columns">skills</h1>
  </div>
  <div class="row">
    <ul class="small-10 medium-7 small-block-grid-3 medium-block-grid-4 small-centered columns" id="skillsList">
      <%= render @skills %>
    </ul>
  </div>

</section>

<section id="addSkillSection">
  <div class="row spacer-bottom">
    <div class="small-10 medium-7 small-centered columns">
      <%= form_for @skill, :url => { :action => "create", :controller => "skills"}, remote: true do |f|%>
      
        <%= select_tag 'select_tag', options_from_collection_for_select(Skill.all.order(:name), :id, :name) %>
        <%= f.submit ("Add this skill"), id: 'submit-button' %>
            
      <%end%>
    </div>
  </div>
</section>


