
<div class="row">
    <div class="small-12 medium-7 small-centered columns">
            <%= form_tag users_path, method: :get, id: "search-form" do %>
                <%= label_tag :q, "Find your team..." %>
                <%= text_field :search, params[:search], id: "search-field", placeholder: 'Skills, positions held, orgs., etc.' %>
                <%= submit_tag "Search", id: "submit-button" %>
            <% end %>
    </div>
</div>


<div class="row">
    
        <ul class="small-block-grid-1 medium-block-grid-3">
            <% if @users.empty? %>
                <div class="small-12" id="noUsersMatch"><h1 class="text-centered">We couldn't seem to find anyone</h1></div>
            <% else %>
                <%@users.each do |c|%>
                    <li class="search-result">
                        
                        <div class="row">

                            <%= link_to user_path(c.id) do %>
                                <div class="small-1 small-centered columns" id="indeximagecontainer">
                                    <%= image_tag c.avatar.url, id: "profile-thumb" %>
                                </div>
                            <%end%>

                        </div>

                        <div class="row">
                            <h2><%=c.name%> </h2>
                        </div>

                        <div class="row">
                            <h2><small style="font-size: 13px;"> <%=c.email %> </small></h2>
                        </div>
                        
                        <div class="show-for-medium-up row">
                            <div class="discription"><p class="text-center" style="font-size: 12px; color: black; margin: 0px; padding: 10px;"><%= c.description %></p></div>
                        </div>
                    
                    </li>   
                <%end%>
            <%end%>
        </ul>

</div>
