<div class="row spacer-top">
	<div class="small-8 small-centered columns">
		<ul class="small-block-grid-1 medium-block-grid-2">
			<li>
				<div class="show-for-small small-1 small-centered columns" id="indeximagecontainer"><%= image_tag  @user.avatar.url, id: "profile-thumb"%></div>
				<div class="show-for-medium-up small-1 small-centered columns" id="showimagecontainer"><%= image_tag  @user.avatar.url, id: "profile-thumb"%></div>
			</li>
			<li>
				<h2 class="text-center">
					<%=@user.name%> <br>
					<small>
						<% if @user.display_phone && @user.area_code? && @user.prefix? && @user.line_number? %>
							(<%= @user.area_code %>) <%= @user.prefix %> - <%= @user.line_number %>
							<br>
						<% end %>

						
						<%=@user.email %> <br>
						<% if @user.title? && @user.organization? %>
						<hr>
							<strong><%=@user.title %>:</strong>
							<%=@user.organization%>
						<% end %>
					</small>
					<hr class="show-for-small">
				</h2>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-8 small-centered columns">
		<p class="text-center" style="font-size: 16px; margin:0;">
			<%= @user.description %>				
		</p>
	</div>
	<hr class="show-for-small">
</div>


<div class="row">
	<div class="small-12 medium-8 small-centered columns">
		
		<h1 class="small-12 small-centered columns">skills</h1>
		
		<ul class="small-block-grid-3 medium-block-grid-6">
			<% @skills.each do |c| %>
				<li>
					<p id="skill-p" class="text-center"><%= c.name%></p>
				</li>
			<%end%>
		</ul>
	</div>
</div>



























