<h2>Forgot your password?</h2>

<div class="row">
  <div class="small-12 medium-7 small-centered columns">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", id: 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>

