<li class="skill-item" id = "skill_item_<%=skill.id%>">

    <p id="skill-p" class="text-center skill-p"><%= skill.name %>    <%= link_to "X", skill, method: :delete, id: "remove-link", remote: true%></p>

    <%= link_to "X", skill, method: :delete, remote: true %>
</li>

