<div class="row">
  <div class="small-12">
    <h1>Events</h1>

    <!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="57972/"></script> <!-- end feedwind code --> 
</div>
</div>
