<div class="row">
		<div class="small-12 small-centered columns" id="homehead">
			<h1 class="show-for-medium-up">Society of entrepreneurs</h1>
			<h1 class="show-for-small">SOE</h1>
		</div>
</div>



<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-3">
		<li><%= image_tag  "soe1.jpg" %></li>
		<li class="show-for-medium-up"><%= image_tag  "soe6.jpg" %></li>
		<li class="show-for-medium-up"><%= image_tag  "soe7.jpg" %></li>
	</ul>
</div>


<div class="row">
	<div class = "small-12 medium-8 small-centered columns">
		<h1>Network. Create. Experience.</h1>
		
		<p class="text-center">SOE is a student organization that highlights the entrepreneurial mindset. We serve as the connection to entrepreneurs in Athens and Atlanta. SOE supports student startups both on and off campus. </p>

	</div>
</div>

<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-2">
		<li class="show-for-medium-up"><%= image_tag  "soe8.jpg" %></li>
		<li><%= image_tag  "soe3.jpg" %></li>
	</ul>
</div>
	


<div class="row">
	<div class="small-12 medium-8 small-centered columns">
			<h1>Who are we for?</h1>
			<p class="text-center">Anyone who aspires to operate their own organization, business, or non-profit. <br>No business? No problem. SOE welcomes anyone who wishes to support the startup community. </p>
			<p class="text-center"></p>
	</div>
</div>

<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-3">
		<li class="show-for-medium-up"><%= image_tag  "soe4.jpg" %></li>
		<li><%= image_tag  "soe2.jpg" %></li>
		<li class="show-for-medium-up"><%= image_tag  "soe5.jpg" %></li>
	</ul>
</div>
	

<div class='row'>
	<div class="small-12 medium-8 small-centered columns">
		<h1 class="text-center">Our vision</h1>
		<p class="text-center">UGA's premier student organization encompassing hundreds 
			spanning across campus passionate about creative thinking, curiosity,
		  and growth on an individual & community level. Ultimately, the 
			organization where students learn to bring their ideas to life, 
			surrounded by the right people to help along the way.</p>
		</div>
</div>
	
<div class="row">
	<h1>Need to Reach Us?
	</h1>
	<p class="text-center">shoot us an email at <a href="mailto:ugasoe1@gmail.com" style="color:#3cb0fd">soe@uga.edu</a> <br>
	or <br>
	Follow us on social media!</p>			
</div>

<div class="row" style="padding-bottom: 5px;">	
		<div class="small-6 small-centered columns text-center medialink"><a href="https://www.instagram.com/soeuga/" id="submit-button"><i class="fa fa-instagram" aria-hidden="true">Instagram</i></a></div>
</div>

<div class="row" style="padding-bottom: 5px;">	
		<div class="small-6 small-centered columns text-center medialink"><a href="https://www.facebook.com/soeuga/" id="submit-button"><i class="fa fa-facebook-square" aria-hidden="true">Facebook</i></a></div>
</div>

<div class="row" style="padding-bottom: 5px;">	
		<div class="small-6 small-centered columns text-center medialink"><a href="#" id="submit-button"><i class="fa fa-snapchat-ghost" aria-hidden="true">soeuga</i></a></div>
</div>

<div class="row">
	<div class="small-12 columns" style="height: 150px;">
	</div>
</div>

<footer>
	<div class="row fullwidth">
		<div class="small-12 medium-6 small-centered text-center columns">
			<p class="text-center" style="font-size: 12px;">
				Developed and managed by Young Spark Consulting LLC
			</p>
		</div>
	</div>
</footer>


<%#= <div class="row full-length" id="leaders"> 
	<div class="small-12 columns">
		<h2>MEET THE LEADERS OF SOE: </h2>
		<br>

		<div class="flexslider">
		  <ul class="slides">
		    <li>
		      <img src="slide1.jpg" />
		      <h3><a href="blaiseprofile">BLAISE McCOMB</a></h3>
		      <div class="text">Blaise strives to bring people together in an effort to create a strong startup ecosystem in Athens, GA. He interned for Umano and is involved in Pi Sigma Epsilon business fraternity.
		  	</div>
		    </li>
		    <li>
		      <img src="slide2.jpg" />
		    </li>
		    <li>
		      <img src="slide3.jpg" />
		    </li>
		    <li>
		      <img src="slide4.jpg" />
		    </li>
		  </ul>
		</div>

	</div>
</div>

%>


<%#=<div id="contact">
	<div class="main">
	<h1>CONTACT FORM HERE:</h1>
	<p>Name</p>
	<p>Email </p>
	<p>Comments </p>
	<p>Thank yoou for submitting your suggestion </p>
	</div>
</div>
%>