<div class="row">
  <div class="small-12 small-centered columns" style="height: 115px;">
  </div>
</div>
  

<div class="row">
  <div class="row">
    <div class="small-12 small-centered columns">
      <h1>Your email has been sent</h1><br>
    </div>
  </div>


  <div class="row">
    <div class="small-12 small-centered columns">
      <h1><small>Check your inbox</small></h1>
    </div>
  </div>
</div>