
<h2 class="title">Log in</h2>

<div class="row">
  <div class="small-12 medium-7 small-centered columns">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", id: 'submit-button'%>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-7 small-centered columns shared-links" style="color:black;">
    <%= render "devise/shared/links", style: 'color: black;' %>
  </div>
</div>

