/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require foundation
 *= require flexslider
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

$soegray: #222326;


body{
  color: black;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

h3 { 
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

#top {
  grid-column: 1/span 3;
  width:100%;
  padding: 20px;
  display:grid;
  grid-template-columns: 250px 1fr 250px;
}

#leaders {
  grid-column: 1/span 3;
  background-color: #222326;
  width:100%;
  padding: 20px;
  color: #fff;
  display:grid;
  grid-template-columns: 250px 1fr 250px;

  h3 {
  display:inline;
  }

  a {
  color:#fff;
  text-decoration: none;
  }

  a:hover{
  color:#e8effc;
  }

  .text {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color:#fff;
  }
}

#contact{
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

.main {
 grid-column: 2 / span 1;
}

.nav {
  grid-row: 1;
  grid-column: 1 / span 3;
}

#navbar {
  position: fixed;
  z-index:1;
  top:0;
  background-color: $soegray;
  color: white;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 80px;
}

.nav-button{
  display: inline-block;
  font-size: 20px;
  padding: 10px 20px 20px 5px;
  margin: 20px;
}

a{
  color: white;
}

#profile-button{
  float: right;
}

#log-button{
  float:right;
}

.full-length{
  width:100%;
  max-width: 100%
}

.spacer-top{
  padding-top: 20px;
}


.shared-links a {
  color: black;
}

.title{
  text-transform: uppercase;
}

#indeximagecontainer{
  height: 100px;
  width: 100px;
  padding: 0px;
}

#showimagecontainer{
  height: 250px;
  width: 250px;
  padding: 0px;
}

#profile-thumb {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

#submit-button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  
  background: #333333;
  
  text-decoration: none;
  font-size: .875rem;
  padding: 5px 10px 5px 10px;
  border: 0px;
}

#submit-button:hover{
  background: #3cb0fd;
  text-decoration: none;
}

#update-profile-button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  
  background: #333333;
  
  text-decoration: none;
  font-size: .875rem;
  padding: 5px 10px 5px 10px;
  border: 0px;
  width: 140px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;


}

#update-profile-button:hover{
  background: #3cb0fd;
  text-decoration: none;
}

#homehead{
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#homehead h1{
  font-size: 60px;
}

.spacer-top{
  padding-top:30px;
}

.fullwidth{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: white;
  background:#333333;

}

input:placeholder-shown{
  font-style: italic;
}

.medialink{
  padding-top: 5px;
}

