// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-photo{
    margin: 10px;
}

#userDescriptiong{
    margin-top: 20px;
}

#number-field{
    padding: 0px;
}

br{
    height: 10px;
    line-height: 10px;
}

.profile-avatar{
    border-radius: 50%
}

.spacer-bottom{
    height: 300px;
}

