// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skill-p{
  background-image: url('../images/Strange-Cat.jpg');
}

.skill-div{
  background-image: url('../images/Strange-Cat.jpg');
}

#remove-link{
  color: gray;
}