
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//NOTE TO SELF use media query on .content 

 $soegray: #222326;

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#userResult{
  grid-columns:auto;
  background: $soegray;
  padding: 10px;
  border-top: 3px solid #0bbbe8;
  border-top-left-radius:1em;
  border-top-right-radius:1em;
  border-bottom: 1px solid white;
}

#userName{
  color: white;
}

#userEmail{
  background: gray;
  padding: 10px;
  color: black;
}

#userDesc{
  //grid-column-start: 1;
  //grid-column-end: 3;
  //grid-row-start: 2;
  //grid-row-end: 4;
  background: #ffffff;
  padding: 10px;
  font-size: 12px;
  color: black;
  max-width: 100%;
  border-bottom-right-radius:1em;
  border-bottom-left-radius:1em;
  min-height: 200px;
}

#search-form{
  padding: 30px;
}

#form{
  grid-column-start:2;
  grid-column-end:5;
  justify-content: flex-start;
}

#email{
  font-size: 14px;
  padding-bottom: 5px;
  margin-top: 0px;
}

h2{
  margin: 0;
}
.profile {
  display: grid;
  grid-template-columns: 200px 1fr; 
  grid-gap: 20px;
}

#profile-photo{
  display: inline-block;
  grid-column-start:1;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  float: left;

  img {
    width: 100%;
    height: 100%;
  }
}

#profile-info {
  grid-column-start:2;
  display: inline-block;
  vertical-align: top;
  padding: 15px 25px 10px 20px;
  height: 400px;
}

#name {
    font-family: sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

#contact {
    font-family: sans-serif;
    font-size: 14px;
    color: #49494d;
}


p {
  padding: 10px;
}

#skill-p {
  border: 1px solid black;
  font-size: 10px;
  margin: 0px;
}


.description{
  height: auto;

}

//these next three tags are also in application.scss
#profile-thumb {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#indeximagecontainer{
  height: 100px;
  width: 100px;
  padding: 0px;
}

#showimagecontainer{
  height: 250px;
  width: 250px;
  padding: 0px;
}