<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: "only screen and (min-width: 401px)" %>
    

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans" rel="stylesheet"> 

    <title><%= content_for?(:title) ? yield(:title) : "SOE" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "layouts/navPartial"%>
    <%= yield %>    
    <%= javascript_include_tag "application" %>

  </body>

</html>